In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('kidney_disease.csv')
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
df.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [5]:
#dropping the id coloum as it is unique value which should be removed
df.drop("id",axis=1,inplace=True)

#there are 3 features with numeric values with '' .these are having object types. so we need to convert thenm into numeric.

In [6]:
Convert_feature=['pcv','wc','rc']
for feature in Convert_feature:
    df[feature] = pd.to_numeric(df[feature],errors='coerce')

In [7]:
def diff_num_cat(df):
    numeric_feature=[col for col in df.columns if df[col].dtype!='object']
    categorial_feature=[col for col in df.columns if df[col].dtype=='object']
    return numeric_feature,categorial_feature

In [8]:
numeric_features,categorial_feature=diff_num_cat(df)

In [9]:
numeric_features

['age',
 'bp',
 'sg',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv',
 'wc',
 'rc']

In [10]:
categorial_feature

['rbc',
 'pc',
 'pcc',
 'ba',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [11]:
for i in categorial_feature:
    print('{} has {} values \n'.format(i,df[i].unique()))
   
df.isnull().sum()

rbc has [nan 'normal' 'abnormal'] values

pc has ['normal' 'abnormal' nan] values

pcc has ['notpresent' 'present' nan] values

ba has ['notpresent' 'present' nan] values

htn has ['yes' 'no' nan] values

dm has ['yes' 'no' ' yes' '\tno' '\tyes' nan] values

cad has ['no' 'yes' '\tno' nan] values

appet has ['good' 'poor' nan] values

pe has ['no' 'yes' nan] values

ane has ['no' 'yes' nan] values

classification has ['ckd' 'ckd\t' 'notckd'] values

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                71
wc                106
rc                131
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [12]:
def impute_mode(feature):
    mode = df[feature].mode()[0]
    df[feature] = df[feature].fillna(mode)

for i in categorial_feature:
    impute_mode(i)
    
def impute_mean(feature):
    mean=df[feature].mean()
    df.loc[df[feature].isnull(), feature] = np.round(mean,0)

for j in numeric_features:
    impute_mean(j)
    
df.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [13]:
# df = df.dropna(axis=0)
# df.isnull().sum()

In [13]:
df['rbc'] = df.rbc.replace(['normal','abnormal'], [1, 0])
df['pc'] = df.pc.replace(['normal','abnormal'], [1, 0])
df['pcc'] = df.pcc.replace(['present','notpresent'], [1, 0])
df['ba'] = df.ba.replace(['present','notpresent'], [1, 0])
df['htn'] = df.htn.replace(['yes','no'], [1, 0])
df['dm'] = df.dm.replace(['yes','no','\tyes','\tno',' yes' ], [1, 0,1,0,1])
df['cad'] = df.cad.replace(['yes','no','\tno'], [1, 0,0])
df['appet'] = df.appet.replace(['good','poor'], [1, 0])
df['pe'] = df.pe.replace(['yes','no'], [1, 0])
df['ane'] = df.ane.replace(['yes','no'], [1, 0])
df['classification'] = df.classification.replace(['ckd','ckd\t','notckd'], [1, 1,0])
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,1,1,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,1,0,0,1
1,7.0,50.0,1.020,4.0,0.0,1,1,0,0,148.0,...,38.0,6000.0,5.0,0,0,0,1,0,0,1
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.0,...,31.0,7500.0,5.0,0,1,0,0,0,1,1
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,1,0,0,140.0,...,47.0,6700.0,4.9,0,0,0,1,0,0,0
396,42.0,70.0,1.025,0.0,0.0,1,1,0,0,75.0,...,54.0,7800.0,6.2,0,0,0,1,0,0,0
397,12.0,80.0,1.020,0.0,0.0,1,1,0,0,100.0,...,49.0,6600.0,5.4,0,0,0,1,0,0,0
398,17.0,60.0,1.025,0.0,0.0,1,1,0,0,114.0,...,51.0,7200.0,5.9,0,0,0,1,0,0,0
399,58.0,80.0,1.025,0.0,0.0,1,1,0,0,131.0,...,53.0,6800.0,6.1,0,0,0,1,0,0,0

In [14]:
df.drop_duplicates()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,1,1,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,1,0,0,1
1,7.0,50.0,1.020,4.0,0.0,1,1,0,0,148.0,...,38.0,6000.0,5.0,0,0,0,1,0,0,1
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.0,...,31.0,7500.0,5.0,0,1,0,0,0,1,1
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,1,0,0,140.0,...,47.0,6700.0,4.9,0,0,0,1,0,0,0
396,42.0,70.0,1.025,0.0,0.0,1,1,0,0,75.0,...,54.0,7800.0,6.2,0,0,0,1,0,0,0
397,12.0,80.0,1.020,0.0,0.0,1,1,0,0,100.0,...,49.0,6600.0,5.4,0,0,0,1,0,0,0
398,17.0,60.0,1.025,0.0,0.0,1,1,0,0,114.0,...,51.0,7200.0,5.9,0,0,0,1,0,0,0
399,58.0,80.0,1.025,0.0,0.0,1,1,0,0,131.0,...,53.0,6800.0,6.1,0,0,0,1,0,0,0

In [15]:
input_features=[col for col in df.columns if col!='classification']
X=df[input_features]
y=df['classification']
X

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,48.0,80.0,1.020,1.0,0.0,1,1,0,0,121.0,...,15.4,44.0,7800.0,5.2,1,1,0,1,0,0
1,7.0,50.0,1.020,4.0,0.0,1,1,0,0,148.0,...,11.3,38.0,6000.0,5.0,0,0,0,1,0,0
2,62.0,80.0,1.010,2.0,3.0,1,1,0,0,423.0,...,9.6,31.0,7500.0,5.0,0,1,0,0,0,1
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,11.2,32.0,6700.0,3.9,1,0,0,0,1,1
4,51.0,80.0,1.010,2.0,0.0,1,1,0,0,106.0,...,11.6,35.0,7300.0,4.6,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,1,0,0,140.0,...,15.7,47.0,6700.0,4.9,0,0,0,1,0,0
396,42.0,70.0,1.025,0.0,0.0,1,1,0,0,75.0,...,16.5,54.0,7800.0,6.2,0,0,0,1,0,0
397,12.0,80.0,1.020,0.0,0.0,1,1,0,0,100.0,...,15.8,49.0,6600.0,5.4,0,0,0,1,0,0
398,17.0,60.0,1.025,0.0,0.0,1,1,0,0,114.0,...,14.2,51.0,7200.0,5.9,0,0,0,1,0,0
399,58.0,80.0,1.025,0.0,0.0,1,1,0,0,131.0,...,15.8,53.0,6800.0,6.1,0,0,0,1,0,0

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

KNN Algorithm

In [17]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

knn_variable = KNeighborsClassifier()
knn_variable.fit(X_train, y_train)

# accuracy score, confusion matrix and classification report of knn

knn_acc = accuracy_score(y_test, knn_variable.predict(X_test))

print(f"Training Accuracy of KNN is {accuracy_score(y_train, knn_variable.predict(X_train))}")
print(f"Test Accuracy of KNN is {knn_acc} \n")

print(f"Confusion Matrix :- \n{confusion_matrix(y_test, knn_variable.predict(X_test))}\n")
print(f"Classification Report :- \n {classification_report(y_test, knn_variable.predict(X_test))}")

Training Accuracy of KNN is 0.853125
Test Accuracy of KNN is 0.725

Confusion Matrix :-
[[25  3]
 [19 33]]

Classification Report :-
               precision    recall  f1-score   support

           0       0.57      0.89      0.69        28
           1       0.92      0.63      0.75        52

    accuracy                           0.73        80
   macro avg       0.74      0.76      0.72        80
weighted avg       0.79      0.72      0.73        80

In [18]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

# accuracy score, confusion matrix and classification report of decision tree

dtc_acc = accuracy_score(y_test, dtc.predict(X_test))

print(f"Training Accuracy of Decision Tree Classifier is {accuracy_score(y_train, dtc.predict(X_train))}")
print(f"Test Accuracy of Decision Tree Classifier is {dtc_acc} \n")

print(f"Confusion Matrix :- \n{confusion_matrix(y_test, dtc.predict(X_test))}\n")
print(f"Classification Report :- \n {classification_report(y_test, dtc.predict(X_test))}")

Training Accuracy of Decision Tree Classifier is 1.0
Test Accuracy of Decision Tree Classifier is 0.9875

Confusion Matrix :-
[[28  0]
 [ 1 51]]

Classification Report :-
               precision    recall  f1-score   support

           0       0.97      1.00      0.98        28
           1       1.00      0.98      0.99        52

    accuracy                           0.99        80
   macro avg       0.98      0.99      0.99        80
weighted avg       0.99      0.99      0.99        80

In [19]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

svc_acc=accuracy_score(y_test,svclassifier.predict(X_test))

print(f"Training Accuracy of Decision Tree Classifier is {accuracy_score(y_train, svclassifier.predict(X_train))}")
print(f"Test Accuracy of Decision Tree Classifier is {svc_acc}\n")

print(f"Confusion Matrix :- \n{confusion_matrix(y_test, svclassifier.predict(X_test))}\n")
print(f"Classification Report :- \n {classification_report(y_test, svclassifier.predict(X_test))}")

Training Accuracy of Decision Tree Classifier is 0.98125
Test Accuracy of Decision Tree Classifier is 0.9625

Confusion Matrix :-
[[27  1]
 [ 2 50]]

Classification Report :-
               precision    recall  f1-score   support

           0       0.93      0.96      0.95        28
           1       0.98      0.96      0.97        52

    accuracy                           0.96        80
   macro avg       0.96      0.96      0.96        80
weighted avg       0.96      0.96      0.96        80

In [21]:
from sklearn.feature_selection import SelectKBest#Also known as Information Gain
from sklearn.feature_selection import chi2

In [22]:
ordered_rank_features=SelectKBest(score_func=chi2,k=20)
ordered_feature=ordered_rank_features.fit(X,y)

In [23]:
datascores=pd.DataFrame(ordered_feature.scores_,columns=["Score"])
datascores

           Score
0     113.134590
1      79.790945
2       0.009394
3     227.862726
4      94.800000
5       3.754674
6      10.696296
7      25.200000
8      13.200000
9    2428.048707
10   2336.198900
11    354.540287
12     27.558749
13      6.216305
14    120.371664
15    322.911040
16  12732.774341
17     15.562313
18     88.200000
19     82.200000
20     20.400000
21     12.686792
22     45.600000
23     36.000000

In [24]:
dfcolumns=pd.DataFrame(X.columns)
dfcolumns

        0
0     age
1      bp
2      sg
3      al
4      su
5     rbc
6      pc
7     pcc
8      ba
9     bgr
10     bu
11     sc
12    sod
13    pot
14   hemo
15    pcv
16     wc
17     rc
18    htn
19     dm
20    cad
21  appet
22     pe
23    ane

In [25]:
features_rank=pd.concat([dfcolumns,datascores],axis=1)
features_rank.columns=['Features','Score']
features_rank

   Features         Score
0       age    113.134590
1        bp     79.790945
2        sg      0.009394
3        al    227.862726
4        su     94.800000
5       rbc      3.754674
6        pc     10.696296
7       pcc     25.200000
8        ba     13.200000
9       bgr   2428.048707
10       bu   2336.198900
11       sc    354.540287
12      sod     27.558749
13      pot      6.216305
14     hemo    120.371664
15      pcv    322.911040
16       wc  12732.774341
17       rc     15.562313
18      htn     88.200000
19       dm     82.200000
20      cad     20.400000
21    appet     12.686792
22       pe     45.600000
23      ane     36.000000

In [26]:
features_rank.nlargest(10,'Score')
selected_columns=features_rank.nlargest(10,'Score')['Features'].values

In [27]:
X_new=df[selected_columns]

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X_new,y,train_size=0.75)
X_train.shape

(300, 10)

In [29]:
params={
 "learning_rate"    : [0.05, 0.20, 0.25 ] ,
 "max_depth"        : [ 5, 8, 10, 12],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.7 ]
    
}

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# import sys
# !{sys.executable} -m pip install xgboost

In [32]:
from xgboost import XGBClassifier
classifier=XGBClassifier()

In [33]:
from sklearn.model_selection import RandomizedSearchCV

In [34]:
import warnings
from warnings import filterwarnings
filterwarnings('ignore')

In [35]:
random_search=RandomizedSearchCV(classifier,param_distributions=params,n_iter=4,scoring='roc_auc',n_jobs=-1,cv=5,verbose=3)

In [34]:
random_search.fit(X_train, y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits
[CV 1/5] END colsample_bytree=0.3, gamma=0.1, learning_rate=0.05, max_depth=12, min_child_weight=5;, score=0.992 total time=   0.1s
[CV 1/5] END colsample_bytree=0.4, gamma=0.4, learning_rate=0.2, max_depth=12, min_child_weight=1;, score=0.987 total time=   0.1s
[CV 2/5] END colsample_bytree=0.4, gamma=0.4, learning_rate=0.2, max_depth=12, min_child_weight=1;, score=1.000 total time=   0.1s
[CV 3/5] END colsample_bytree=0.4, gamma=0.4, learning_rate=0.2, max_depth=12, min_child_weight=1;, score=0.994 total time=   0.1s
[CV 3/5] END colsample_bytree=0.3, gamma=0.1, learning_rate=0.05, max_depth=12, min_child_weight=5;, score=0.988 total time=   0.1s
[CV 4/5] END colsample_bytree=0.4, gamma=0.4, learning_rate=0.2, max_depth=12, min_child_weight=1;, score=1.000 total time=   0.1s
[CV 2/5] END colsample_bytree=0.3, gamma=0.1, learning_rate=0.05, max_depth=12, min_child_weight=5;, score=1.000 total time=   0.1s
[CV 5/5] END colsample_bytree=0.4, gamma=0.4, learning_rate=0.2, max_depth=12, min_child_weight=1;, score=0.996 total time=   0.1s
[CV 4/5] END colsample_bytree=0.3, gamma=0.1, learning_rate=0.05, max_depth=12, min_child_weight=5;, score=0.995 total time=   0.1s
[CV 1/5] END colsample_bytree=0.4, gamma=0.1, learning_rate=0.2, max_depth=10, min_child_weight=1;, score=0.988 total time=   0.1s
[CV 5/5] END colsample_bytree=0.3, gamma=0.1, learning_rate=0.05, max_depth=12, min_child_weight=5;, score=0.998 total time=   0.1s
[CV 2/5] END colsample_bytree=0.4, gamma=0.1, learning_rate=0.2, max_depth=10, min_child_weight=1;, score=1.000 total time=   0.1s
[CV 3/5] END colsample_bytree=0.4, gamma=0.1, learning_rate=0.2, max_depth=10, min_child_weight=1;, score=0.990 total time=   0.1s
[CV 5/5] END colsample_bytree=0.4, gamma=0.1, learning_rate=0.2, max_depth=10, min_child_weight=1;, score=0.996 total time=   0.1s
[CV 1/5] END colsample_bytree=0.4, gamma=0.2, learning_rate=0.2, max_depth=10, min_child_weight=1;, score=0.988 total time=   0.1s
[CV 4/5] END colsample_bytree=0.4, gamma=0.1, learning_rate=0.2, max_depth=10, min_child_weight=1;, score=1.000 total time=   0.1s
[CV 3/5] END colsample_bytree=0.4, gamma=0.2, learning_rate=0.2, max_depth=10, min_child_weight=1;, score=0.990 total time=   0.1s
[CV 2/5] END colsample_bytree=0.4, gamma=0.2, learning_rate=0.2, max_depth=10, min_child_weight=1;, score=1.000 total time=   0.1s
[CV 4/5] END colsample_bytree=0.4, gamma=0.2, learning_rate=0.2, max_depth=10, min_child_weight=1;, score=1.000 total time=   0.1s
[CV 5/5] END colsample_bytree=0.4, gamma=0.2, learning_rate=0.2, max_depth=10, min_child_weight=1;, score=0.996 total time=   0.1s

RandomizedSearchCV(cv=5,
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           callbacks=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None,
                                           early_stopping_rounds=None,
                                           enable_categorical=False,
                                           eval_metric=None, feature_types=None,
                                           gamma=None, gpu_id=None,
                                           grow_policy=None,
                                           importance_type=None,
                                           interaction_constraints=None,
                                           learning_rate...
                                           min_child_weight=None, missing=nan,
                                           monotone_constraints=None,
                                           n_estimators=100, n_jobs=None,
                                           num_parallel_tree=None,
                                           predictor=None, random_state=None, ...),
                   n_iter=4, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.7],
                                        'gamma': [0.0, 0.1, 0.2, 0.4],
                                        'learning_rate': [0.05, 0.2, 0.25],
                                        'max_depth': [5, 8, 10, 12],
                                        'min_child_weight': [1, 3, 5, 7]},
                   scoring='roc_auc', verbose=3)

:

In [ ]:
random_search.best_estimator_

NameError: name 'random_search' is not defined

In [ ]:
random_search.best_params_

In [36]:
classifier=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.4, gamma=0.2, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.25, max_delta_step=0, max_depth=5,
              min_child_weight=1, monotone_constraints='()',
              n_estimators=100, n_jobs=2, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact',
              validate_parameters=1, verbosity=None)

In [37]:
classifier.fit(X_train,y_train)

:

:

In [1]:
y_pred=classifier.predict(X_test)

NameError: name 'classifier' is not defined

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
confusion = confusion_matrix(y_test, y_pred)
print('Confusion Matrix:')
print(confusion)

In [ ]:
accuracy_score(y_test, y_pred)

In [20]:
import pickle
pickle.dump(svclassifier,open('CKD_model.pkl', 'wb'))

In [21]:
loaded_model = pickle.load(open('CKD_model.pkl', 'rb'))